body{
    font-family:'tinos', 'sans-serif', 'Times New Roman';
}

/*************Header/FOOTER**************/

/*align the navagation*/
nav{
    text-align: center;
}

/*set the color for the emails and the hover action*/
.contact{
    color:black;
    text-decoration: none;
}

.contact:hover{
    color:grey;
    font-size: 16.5px;
}

/*FOR ICONS set the color to black and remove the the underline*/
.icon{
    padding-right: 5px;
    padding-bottom: 5px;
    color: black;
    text-decoration: none;
}

/*FOR ICONS changes the color and size when the user hovers over it*/
.icon:hover{
    font-size: 17px;
    color: grey;
}

/*for the all the sub category*/
.subtitle{
    text-decoration:underline;
    
}

/*adding padding for the sub catgorys*/
.info{
    padding-left: 15px;
    padding-right: 15px;
}

/*remove the padding from the bottom of the locations 
so the address is closer*/
.places{
    margin-bottom: 0px;
    font-size: 20px;
}

/*remove the padding from the top of the address so it can be closer to the school
add padding to the bottom of the address giving it a little space=*/
.address{
    margin-top: 2px;
    margin-bottom: 0px;
    padding-left: 10px;
}

/*adds padding to the list of courses and skills so it is in a little paragraph*/
.historySkills{
    padding-left: 20px;
    padding-right: 400px;
}