/*Header*/


/*FOR EMAILS set the color to black and remove the the underline*/
.links{
    color: black;
    text-decoration: none;

}

/*FOR EMAILS changes the color and size when the user hovers over it*/
.links:hover{
    font-size: 14px;
    color:grey;
}

/*FOR ICONS set the color to black and remove the the underline*/

/*FOR ICONS changes the color and size when the user hovers over it*/

/*aligns everything in the middle */
.top{
    text-align: center;
}





/*classes*/

.schools{
    border-style: outset;
    border-width: 5px;
}

.course{
    margin-top: 25px;
    border-style: outset;
    border-width: 5px;
}


.skills{
    margin-top: 25px;
    border-style: outset;
    border-width: 5px;
}


.work{
    margin-top: 25px;
    border-style: outset;
    border-width: 5px;
}

.add{
    margin-top: 25px;
    border-style: outset;
    border-width: 5px;
}

.places{
    font-size: 15px;
    font-style: italic;

}





/*ids*/




/**/
h3{
    font-size: 25px;

}

